<center><img src="https://github.com/DACSS-PreProcessing/Week_1_main/blob/main/pics/LogoSimple.png?raw=true" width="700"></center>

<a target="_blank" href="https://colab.research.google.com/github/DACSS-PreProcessing/dataCleaning_Py/blob/main/index.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Data Cleaning in Python

<a id='home'></a>

In the session we will:

1. Collect data as a dataframe

2. Clean data:
    * Fix column names
    * Fix data contents

## 1. Collect data tables


### Read a File

I have the data on the **Human Development Index** in a  folder in a GitHub repo, which I downloaded from this [link](https://hdr.undp.org/data-center/documentation-and-downloads) (_Table 1_).

In [2]:
# Location of data file
linkFile="https://github.com/DACSS-PreProcessing/dataCleaning/raw/main/data/HDI_Table.xlsx"

Reading in a table from a file using pandas, since it is an Excel file, I need that the package **openpyxl** is previously installed:

In [3]:
# available in my computer?
!pip show openpyxl

Name: openpyxl
Version: 3.1.2
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: /Users/JoseManuel/opt/anaconda3/envs/workshopRPy/lib/python3.12/site-packages
Requires: et-xmlfile
Required-by:

If not available, please go to Anaconda and install it. Once installed, or if available, continue:

In [4]:
import pandas as pd

hdiFile=pd.read_excel(linkFile)

Take a look:

In [5]:
hdiFile

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. Cleaning Process


### Fix column names

#### Recover column names

Notice that we do not have the right column names. So we need to save them before we go on:

In [6]:
hdiFile.iloc[[3,4],:]

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN

As you see, the column names are in different positions:

In [7]:
# here
hdiFile.iloc[3,2:]

Unnamed: 2             Human Development Index (HDI)
Unnamed: 3                                        NaN
Unnamed: 4                   Life expectancy at birth
Unnamed: 5                                        NaN
Unnamed: 6                Expected years of schooling
Unnamed: 7                                        NaN
Unnamed: 8                    Mean years of schooling
Unnamed: 9                                        NaN
Unnamed: 10    Gross national income (GNI) per capita
Unnamed: 11                                       NaN
Unnamed: 12        GNI per capita rank minus HDI rank
Unnamed: 13                                       NaN
Unnamed: 14                                  HDI rank
Name: 3, dtype: object

In [8]:
# and here
hdiFile.iloc[4,:2]

Back                                                    HDI rank
Table 1. Human Development Index and its components      Country
Name: 4, dtype: object

It is easier if we have lists, so we can concatenate:

In [9]:
# save column names turned to lists

RealHeaders=hdiFile.iloc[4,:2].to_list()+hdiFile.iloc[3,2:].to_list()

# these are:
RealHeaders

['HDI rank',
 'Country',
 'Human Development Index (HDI) ',
 nan,
 'Life expectancy at birth',
 nan,
 'Expected years of schooling',
 nan,
 'Mean years of schooling',
 nan,
 'Gross national income (GNI) per capita',
 nan,
 'GNI per capita rank minus HDI rank',
 nan,
 'HDI rank']

Let's put the rown in the right place:

In [10]:
# rename all the columns
hdiFile.columns=RealHeaders

# newDF
better_1=hdiFile.copy()

# see head
better_1.head()

,HDI rank,Country,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN

#### Subset to drop unneeded columns


Notice the repeated column names (HDI rank) and _NaN_. Notice also that we do not need the three columns next to it. Let's rewrite the original:

In [11]:
# without the last four
better_2=better_1.iloc[:,:-4]

We still have column names with missing values:

In [12]:
better_2.columns

Index([                              'HDI rank',
                                      'Country',
               'Human Development Index (HDI) ',
                                            nan,
                     'Life expectancy at birth',
                                            nan,
                  'Expected years of schooling',
                                            nan,
                      'Mean years of schooling',
                                            nan,
       'Gross national income (GNI) per capita'],
      dtype='object')

...let's get rid of those missing values in the column names:

In [13]:
# columns names without missings values
BetterHeaders=better_2.columns.dropna()
BetterHeaders

Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita'],
      dtype='object')

Let's proceed:

In [14]:
#subsetting again to keep the good headers
better_2=better_2.loc[:,BetterHeaders]

#see
better_2.head(10)

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $)
5,NaN,NaN,2021,2021,2021,2021,2021
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
7,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
8,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
9,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981

It is time to offer a better set of column names.

#### Clean column names

The current situation:

In [42]:
better_3=better_2.copy()
better_3.columns.to_list() # always use to_list()

['HDI rank',
 'Country',
 'Human Development Index (HDI) ',
 'Life expectancy at birth',
 'Expected years of schooling',
 'Mean years of schooling',
 'Gross national income (GNI) per capita']

Notice above that the columns:
* Have acronyms in parenthesis.
* Have spaces between words.

Let's get rid of the acronyms in parentheses:

In [44]:
# bye anything between parentheses (then strip and title case)

pattern1=r'\(.+\)'
better_3.columns=better_3.columns.str.replace(pattern1,repl="", regex=True).str.strip().str.title()
better_3.columns

Index(['Hdi Rank', 'Country', 'Human Development Index',
       'Life Expectancy At Birth', 'Expected Years Of Schooling',
       'Mean Years Of Schooling', 'Gross National Income  Per Capita'],
      dtype='object')

**Option 1**: Underscores instead of _blank spaces_.

In [45]:
# spaces replaced
pattern2=r'\s+'
better_3.columns.str.replace(pattern2,repl='_',regex=True)

Index(['Hdi_Rank', 'Country', 'Human_Development_Index',
       'Life_Expectancy_At_Birth', 'Expected_Years_Of_Schooling',
       'Mean_Years_Of_Schooling', 'Gross_National_Income_Per_Capita'],
      dtype='object')

**Option 2**: Shorthening using Camel case

In [46]:
# title case, the bye spaces
better_3.columns.str.replace(" ",'',regex=False)

Index(['HdiRank', 'Country', 'HumanDevelopmentIndex', 'LifeExpectancyAtBirth',
       'ExpectedYearsOfSchooling', 'MeanYearsOfSchooling',
       'GrossNationalIncomePerCapita'],
      dtype='object')

**Option 3**: Shorthening using Acronyms

This option requires a good data dictionary in your README. Notice we will do this only for the _variables_:

In [47]:
# concatenating
acronyms=[''.join([word[0] for word in name.split()]) for name in better_3.columns[2:]]
acronyms

['HDI', 'LEAB', 'EYOS', 'MYOS', 'GNIPC']

In [48]:
changesToNames={old:new for old,new in zip(better_3.columns[2:],acronyms)}
changesToNames # dictionary

{'Human Development Index': 'HDI',
 'Life Expectancy At Birth': 'LEAB',
 'Expected Years Of Schooling': 'EYOS',
 'Mean Years Of Schooling': 'MYOS',
 'Gross National Income  Per Capita': 'GNIPC'}

In [49]:
better_3.rename(columns=changesToNames,inplace=True)
better_3.columns

Index(['Hdi Rank', 'Country', 'HDI', 'LEAB', 'EYOS', 'MYOS', 'GNIPC'], dtype='object')

We are keeping the last one:

In [41]:
better_3.head(10)

,HDI rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $)
5,NaN,NaN,2021,2021,2021,2021,2021
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
7,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
8,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
9,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981


______


### Fix Data contents

After becoming familar with the data, we focus on data contents.

#### Cleaning based on cells with missing values:

See all rows with at least one missing value:

In [51]:
# next DF
better_4=better_3.copy()
better_4[better_4.isna().any(axis=1)]

,Hdi Rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita
5,NaN,NaN,2021,2021,2021,2021,2021
...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN

The exploration let us find that we have 84 rows with at least one missing value.

* First decision, drop rows where all variable values are missing:

In [52]:
better_4[better_4.iloc[:,2:].isna().all(axis=1)]

,Hdi Rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
73,NaN,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
123,NaN,MEDIUM HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN

In [53]:
better_4=better_4[~better_4.iloc[:,2:].isna().all(axis=1)]

# filtered!
better_4

,Hdi Rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $)
5,NaN,NaN,2021,2021,2021,2021,2021
7,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
...,...,...,...,...,...,...,...
221,NaN,Sub-Saharan Africa,0.547,60.112467,10.267338,6.001639,3698.868914
223,NaN,Least developed countries,0.54,64.215856,10.182659,5.21532,2880.652487
224,NaN,Small island developing states,0.73,70.325547,12.422289,9.08964,16782.329527
226,NaN,Organisation for Economic Co-operation and Dev...,0.899,78.987605,16.459253,12.267755,45086.969067
228,NaN,World,0.732,71.365465,12.780907,8.617461,16752.082922

* Second decision: drop the rows with where 'Country', the ID, is missing.

In [54]:
better_4=better_4[~better_4.loc[:,'Country'].isna()]
better_4

,Hdi Rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $)
7,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
8,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
9,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
10,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
...,...,...,...,...,...,...,...
221,NaN,Sub-Saharan Africa,0.547,60.112467,10.267338,6.001639,3698.868914
223,NaN,Least developed countries,0.54,64.215856,10.182659,5.21532,2880.652487
224,NaN,Small island developing states,0.73,70.325547,12.422289,9.08964,16782.329527
226,NaN,Organisation for Economic Co-operation and Dev...,0.899,78.987605,16.459253,12.267755,45086.969067
228,NaN,World,0.732,71.365465,12.780907,8.617461,16752.082922

* Third decision : Keep rows with some important values:

In [55]:
# detecting non-numeric cells in HDI
better_4[pd.to_numeric(better_4.HDI,'coerce').isna()]

,Hdi Rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $)
202,NaN,Korea (Democratic People's Rep. of),..,73.2845,10.78317,..,..
203,NaN,Monaco,..,85.9463,..,..,..
204,NaN,Nauru,..,63.617,11.69042,..,17729.74084
205,NaN,Somalia,..,55.2803,..,..,1017.96785

In [57]:
# then
better_4=better_4[~pd.to_numeric(better_4.HDI,'coerce').isna()]
better_4

,Hdi Rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
7,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
8,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
9,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
10,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
11,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335
...,...,...,...,...,...,...,...
221,NaN,Sub-Saharan Africa,0.547,60.112467,10.267338,6.001639,3698.868914
223,NaN,Least developed countries,0.54,64.215856,10.182659,5.21532,2880.652487
224,NaN,Small island developing states,0.73,70.325547,12.422289,9.08964,16782.329527
226,NaN,Organisation for Economic Co-operation and Dev...,0.899,78.987605,16.459253,12.267755,45086.969067
228,NaN,World,0.732,71.365465,12.780907,8.617461,16752.082922

Let's explore why some rows have no ranking:

In [59]:
better_4[better_4.loc[:,'Hdi Rank'].isna()]

,Hdi Rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
208,NaN,Very high human development,0.896,78.521301,16.506485,12.323006,43751.596458
209,NaN,High human development,0.754,74.709094,14.219287,8.327011,15167.24771
210,NaN,Medium human development,0.636,67.438318,11.944855,6.872257,6353.491965
211,NaN,Low human development,0.518,61.310991,9.459357,4.860214,3009.120913
213,NaN,Developing countries,0.685,69.866725,12.315912,7.545938,10703.751015
216,NaN,Arab States,0.708,70.89504,12.353535,8.02855,13500.556146
217,NaN,East Asia and the Pacific,0.749,75.57965,13.816818,7.839329,15580.43686
218,NaN,Europe and Central Asia,0.796,72.856526,15.446546,10.553922,19351.837024
219,NaN,Latin America and the Caribbean,0.754,72.09989,14.767956,8.9977,14520.661245
220,NaN,South Asia,0.632,67.85553,11.562208,6.710321,6481.393135
221,NaN,Sub-Saharan Africa,0.547,60.112467,10.267338,6.001639,3698.868914
223,NaN,Least developed countries,0.54,64.215856,10.182659,5.21532,2880.652487
224,NaN,Small island developing states,0.73,70.325547,12.422289,9.08964,16782.329527
226,NaN,Organisation for Economic Co-operation and Dev...,0.899,78.987605,16.459253,12.267755,45086.969067
228,NaN,World,0.732,71.365465,12.780907,8.617461,16752.082922

Then, we can keep good ranking values:

In [60]:
better_4=better_4[~better_4.loc[:,'Hdi Rank'].isna()]

better_4

,Hdi Rank,Country,HDI,LEAB,EYOS,MYOS,GNIPC
7,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
8,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
9,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
10,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
11,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335
...,...,...,...,...,...,...,...
196,187,Burundi,0.426,61.6627,10.722722,3.129267,731.786709
197,188,Central African Republic,0.404,53.8947,8.040172,4.334,966.058611
198,189,Niger,0.4,61.5763,6.957112,2.116717,1239.866936
199,190,Chad,0.394,52.5254,8.035914,2.573774,1364.169417
200,191,South Sudan,0.385,54.9752,5.54251,5.72614,767.787

#### Preventive Cleaning

It seems pretty clean. However, let's play safe and get rid of trailing or leading spaces :

In [61]:
# no trailing nor leading spaces
better_4.loc[:,'Country']=better_4.Country.str.strip()

Are the numeric values read as strings?

In [62]:
better_4.iloc[0,:].to_list()

[1, 'Switzerland', 0.962, 83.9872, 16.50029945, 13.85966015, 66933.00454]

If this does not work, the numbers are not clean:

In [63]:
better_4.iloc[:,2:].apply(lambda x:pd.to_numeric(x)).isnull().sum()

HDI      0
LEAB     0
EYOS     0
MYOS     0
GNIPC    0
dtype: int64

We did not have a cell with the inappropiate characters representing numerical values, but what if:

In [ ]:
# some messy numeric data
import numpy as np

# using vector to mimic R (columns are vectors)
var1=np.array(["1",'$3,4',"5.6","2.3",1])
var2=np.array(["1.3",'3 400',"5'6","211.333",15])
test=pd.DataFrame({'var1':var1,'var2':var2})
test

This code may come in handy:

In [ ]:
badValues=[] # empty list, here we will save the wrong strings
goodStringForNumbers='^\d+\.*\d*$'

for col in test:
    currentBad=test[col][~test[col].str.contains(goodStringForNumbers,regex=True)].to_list()
    badValues.extend(currentBad)

set(badValues) # using set to see unique cases

We finished the cleaning. Let's reset the row indexes to finish the job:

In [ ]:
better_4.reset_index(drop=True, inplace=True)
better_4